*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html, body{
    height: 100px;
    width: 100px;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    
}

.imageDiv {
    position: absolute;
    height: 270px;
    width: 200px;
    overflow: hidden;
}

.imageDiv img{
    height: 400px;
    width: 280px;
    transform: translateY(90%);
    object-fit:contain;
}